extends layout

block content
  h1= title
  p Welcome to #{title}
  p Total Request 
    div#total #{totalRequest}
  svg(width="960",height="500")
  script.

    var parseTime = d3.timeParse("%Y/%m/%d %H:%M:%S");
    var data = [!{data}];

    var socket = io();

    socket.on('total', function(attack){
      document.querySelector("#total").innerText = attack.num;
      data.push({
        datetime: parseTime(moment(attack.datetime).format('YYYY/MM/DD h:mm:ss')),
        num: attack.num
      });
      updateData();
    });

    // d3 draw
    var svg = d3.select("svg");
    var margin = {top: 0, right: 0, bottom: 30, left: 40},
    width = +svg.attr("width")  - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom;
    g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
    // Set the ranges
    var x = d3.scaleTime().rangeRound([margin.left, width]);
    var y = d3.scaleLinear().rangeRound([height, 0]);

    // Define the line
    var line = d3.line()
        .x(function(d) { return x(d.datetime); })
        .y(function(d) { return y(d.num); });

    var data = data.map(function(e){
      return {
        datetime: parseTime(moment(e.datetime).format('YYYY/MM/DD h:mm:ss')),
        num: +e.num
      }
    })

    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d.datetime; }));
    y.domain(d3.extent(data, function(d) { return d.num; }));

    // Add the X Axis
    g.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(-"+margin.left+"," + height + ")")
            .call(d3.axisBottom(x))
       .select(".domain")
            .remove();

    // Add the Y Axis
    g.append("g")
            .attr("class", "y axis")
            .call(d3.axisLeft(y))
        .append("text")
            .attr("fill", "#000")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", "1em")
            .attr("text-anchor", "end")
            .text("Request");

    // Add the valueline path.
    svg.append("path")
        .datum(data)
        .attr("class", "line")
        .attr("fill", "none")
        .attr("stroke", "steelblue")
        .attr("stroke-linejoin", "round")
        .attr("stroke-linecap", "round")
        .attr("stroke-width", 1.5)
        .attr("d", line);

    var duration = 1000;
    function updateData() {
        // Scale the range of the data again 
        x.domain(d3.extent(data, function(d) { return d.datetime; }));
        y.domain(d3.extent(data, function(d) { return d.num; }));

        // Select the section we want to apply our changes to
        var svg = d3.select("svg").transition();

        // Make the changes
            svg.select(".line")   // change the line
                .duration(duration)
                .attr("d", line(data));
            svg.select(".x.axis") // change the x axis
                .duration(duration)
                .call(d3.axisBottom(x));
            svg.select(".y.axis") // change the y axis
                .duration(duration)
                .call(d3.axisLeft(y));
    }