extends layout

block content
  h1= title
  p Welcome to #{title}
  p Total Request 
    div#total #{totalRequest}
  script.
    var socket = io();
    socket.on('total', function(attack){
      document.querySelector("#total").innerText = attack.num;
    });
